<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.15"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>podTemplate(cloud: &apos;kubernetes-project&apos;, label: &apos;kubernetes-project-pod-label&apos;, 
			containers: [containerTemplate(args: &apos;cat&apos;, command: &apos;/bin/sh -c&apos;, image: &apos;docker:latest&apos;, name: &apos;docker&apos;, ttyEnabled: true, workingDir: &apos;/home/jenkins/agent&apos;)], 
			volumes: [hostPathVolume(hostPath: &apos;/var/run/docker.sock&apos;, mountPath: &apos;/var/run/docker.sock&apos;)])
{
    stage(&apos;CI build/push docker images&apos;) {
    	parallel (
    	    &apos;build/push producer&apos; : {
          		node(&apos;kubernetes-project-pod-label&apos;) {
        			container(&apos;docker&apos;) {
        			    // git clone sub-directory producer
        				sh(&quot;&quot;&quot;
        					apk add --no-cache subversion
        					svn co https://github.com/samer-habash/kubernetes-project-rabitmq/trunk/app/producer/ . --depth files
                    	&quot;&quot;&quot;)
                    	// docker build image producer
                        sh(&quot;&quot;&quot;
        					docker build -t jenkins-producer:latest .
        					docker tag jenkins-producer:latest samer1984/jenkins-producer:latest
                    	&quot;&quot;&quot;)
                    	// push producer image to docker Hub
                    	withDockerRegistry([ credentialsId: &quot;DockerhubCreds&quot;, url: &quot;&quot; ]) {
                    	    sh &apos;docker push samer1984/jenkins-producer:latest&apos;
        			    }
        		    }
          		}
    	    },
    	    &apos;build/push consumer&apos; : {
        		node(&apos;kubernetes-project-pod-label&apos;) {
        			container(&apos;docker&apos;) {
        			    // git clone sub-directory producer
            			sh(&quot;&quot;&quot;
            				apk add --no-cache subversion
            				svn co https://github.com/samer-habash/kubernetes-project-rabitmq/trunk/app/consumer/ . --depth files
            			&quot;&quot;&quot;)
            			// docker build image consumer
                        sh(&quot;&quot;&quot;
        					docker build -t jenkins-consumer:latest .
        					docker tag jenkins-producer:latest samer1984/jenkins-consumer:latest
                    	&quot;&quot;&quot;)
                    	// push consumer image to docker Hub
                    	withDockerRegistry([ credentialsId: &quot;DockerhubCreds&quot;, url: &quot;&quot; ]) {
                    	    sh &apos;docker push samer1984/jenkins-consumer:latest&apos;
        			    }
        		    }
          		}
            }
        )
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>