<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>podTemplate(cloud: &apos;kubernetes-cluster1&apos;, containers: [containerTemplate(args: &apos;cat&apos;, command: &apos;/bin/sh -c&apos;, image: &apos;ubuntu:bionic&apos;, name: &apos;ubuntu-image&apos;, ttyEnabled: true), containerTemplate(args: &apos;cat&apos;, command: &apos;/bin/sh -c&apos;, image: &apos;centos:centos7&apos;, name: &apos;centos-image&apos;, ttyEnabled: true)], label: &apos;pod-label-cluster1&apos;, name: &apos;pod-label-cluster1&apos;) {
      node(&apos;pod-label-cluster1&apos;) {
		stage(&apos;Check Ubuntu Release&apos;) {
			container(&apos;ubuntu-image&apos;) {
			  sh &quot;cat /etc/*-release&quot;
				}
		  }
		stage(&apos;Check Centos Release&apos;) {
			container(&apos;centos-image&apos;) {
			  sh &quot;cat /etc/*-release&quot;
				}
		  }
	}
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>